.center {
  text-align: center;
}
body {
  border-color: black;
  color: aliceblue;
  background-color: mediumpurple;
  border-radius: 25px;
  width: 600px;
  margin: 50px;
  padding: 25px 180px 50px 80px;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
}
html {
  background-color: antiquewhite;
}
a {
  text-decoration: none;
  color: rgb(235, 235, 206);
}
a:hover {
  font-weight: bold;
}
img {
  padding-top: 50px;
  border-radius: 150px;
}
h1 {
  color: aquamarine;
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
}
.deco {
  color: blue;
  font-family: Georgia, "Times New Roman", Times, serif;
}
